body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
:root{
  /*--primary-font: "Mont Regular";*/
  /*--bold-font: "Mont Semi Bold";*/
  --main-text-color: #1F2922;
  --secondary-text-color: #FCFFFE;
  --main-element-color: #6FCF97;
  --secondary-element-color: #ECF2F0;
  --third-element-color: #BDBDBD;
  --fourth-element-color: #F4F7F6;
  --accent-element-color: #F2C94C;
}

.w-90{
  width: 90%;
}

.accept-button{
  color: var(--secondary-text-color);
  background: var(--main-element-color);
  display: block;
  box-sizing: border-box;
  border: 1px solid var(--main-element-color);
  border-radius: 8px;
  padding: 20px 0;
  opacity: 1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 14px;
}
